# Ignore Jupyter Notebook checkpoints (autosaves)
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/

# Ignore created yolo dataset files
Training_files/yolo_dataset/


# Ignore yolo model weights and results
Training_files/runs/
*.pt

# Ignore SVM model weights and results
*.pkl
*.npz

# Ignore downloaded assets
assets/

# Ignore results
Results/